{% extends 'base.html' %}


{% block head %}
<title>Create new account</title>
{% endblock head %}


{% block content %}




<div class='position-absolute top-50 start-50 translate-middle'>
    <h4 class="text-center">Create a new user:</h4>
    <form method="POST" action="">
        {% csrf_token %}
        
        <div class="input-group flex-nowrap mb-2">
            {{form.username}}
        </div>
        <div class="input-group flex-nowrap mb-2">
            {{form.password1}}
        </div>
        <div class="input-group flex-nowrap mb-2">
            {{form.password2}}
        </div>

        <p class="text-center link-danger">Error: </p>
        {{form.errors}}

        <div class='d-flex justify-content-between'>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Go back</a>
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>

{% endblock content %}
